Brotli==1.1.0
brotlicffi==1.2.0.1
click==8.4.2
ConfigParser==7.2.0
cryptography==50.0.0
Cython==3.2.9
cython==3.2.9
dl==0.1.0
docutils==0.23
email_validator==2.3.0
eval_type_backport==0.4.0
h2==4.4.1
HTMLParser==0.0.2
hypothesis==6.165.10
importlib_metadata==8.7.1
ipython==8.12.3
js==1.0
keyring==25.7.0
lockfile==0.12.2
lxml==6.1.2
monotonic==1.6
numpy==2.5.2
ordereddict==1.1
protobuf==7.35.1
pyodide==0.0.2
pyOpenSSL==26.4.0
pywin32==311
rich==15.0.0
simplejson==4.1.1
thread==2.0.6
tomli==2.4.1
tornado==6.5.8
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.23.1
